APP_REFRESH_TOKEN_EXPIRY_SEC=86400
APP_REFRESH_TOKEN_LEEWAY_SEC=30
APP_REFRESH_TOKEN_REVOKE_SEC=3600

APP_SWAGGER_ENABLED=true

APP_WEB_ENABLED=true
#APP_WEB_DIST_PATH=/home/app/dist/

DB_AUTH_PWD=sa
DB_AUTH_URL=jdbc:h2:/home/app/.h2/DB_SCHOOL_AUTH;AUTO_SERVER=TRUE
DB_AUTH_USR=sa

DB_RBAC_PWD=sa
DB_RBAC_URL=jdbc:h2:/home/app/.h2/DB_SCHOOL_RBAC;AUTO_SERVER=TRUE
DB_RBAC_USR=sa

DB_TIMESHEET_PWD=sa
DB_TIMESHEET_URL=jdbc:h2:/home/app/.h2/DB_SCHOOL_TIMESHEET;AUTO_SERVER=TRUE
DB_TIMESHEET_USR=sa

DB_USER_PWD=sa
DB_USER_URL=jdbc:h2:/home/app/.h2/DB_SCHOOL_USER;AUTO_SERVER=TRUE
DB_USER_USR=sa

JWT_EXPIRY_SEC=3600
JWT_SECRET=pleaseChangeThisSecretForANewOne

LOG_LEVEL=INFO

MICRONAUT_ENVIRONMENTS=prod
