<configuration>
  <property name="pattern"
    value="%cyan(%d{yyyy-MM-dd HH:mm:ss.SSS}) %gray([%12.12thread]) %highlight(%-5level) %magenta(%logger{20}) - [%X{Username}][%X{TraceId}][%X{ClassMethod}] | %msg%n" />

  <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator" />

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
      <layout class="com.anasdidi.school.common.config.MaskingPatternLayout">
        <pattern>${pattern}</pattern>
        <maskPattern>password=([^,]+)[\s,]</maskPattern>
        <maskPattern>confirmPassword=([^,]+)[\s,]</maskPattern>
        <maskPattern>jwt=([^,]+)[\s,]</maskPattern>
        <maskPattern>refreshToken=([^,]+)[\s,]</maskPattern>
      </layout>
    </encoder>
  </appender>

  <root level="info">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
